body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e5e8eb;
}

.invoice-container {
  max-width: 900px;
  margin: 20px auto;
  background: #f5f37b;
  border: 1px solid #5135cc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  line-height: normal;
}
.costumerdata {
  text-align:left;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  color: #333;
}

header p {
  margin: 4px 0;
  color: #555;
  font-size: 0.9em;
}

.invoice-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.invoice-details p {
  margin: 10px 0;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table thead {
  background: #343a40;
  color: white;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
  background: #f2f2f2;
}

footer {
  text-align: right;
  margin-top: 20px;
  color: #555;
  font-size: 0.9em;
}
